<h1>Editing donut type</h1>

<%= render "form", donut_type: @donut_type %>

<br>

<div>
  <%= link_to "Show this donut type", @donut_type %> |
  <%= link_to "Back to donut types", donut_types_path %>
</div>
