<p style="color: green"><%= notice %></p>

<%= render @donut_type %>

<div>
  <%= link_to "Edit this donut type", edit_donut_type_path(@donut_type) %> |
  <%= link_to "Back to donut types", donut_types_path %>
</div>
