<h1>Editing donut topping</h1>

<%= render "form", donut_topping: @donut_topping %>

<br>

<div>
  <%= link_to "Show this donut topping", @donut_topping %> |
  <%= link_to "Back to donut toppings", donut_toppings_path %>
</div>
