<p style="color: green"><%= notice %></p>

<%= render @donut_topping %>

<div>
  <%= link_to "Edit this donut topping", edit_donut_topping_path(@donut_topping) %> |
  <%= link_to "Back to donut toppings", donut_toppings_path %>
</div>
